<footer class="bg-footer d-flex align-content-center justify-content-center py-3">
	<h5 class="text-white text-center m-0">Todos los derechos reservados - Hardware House</h5>
</footer>

<div class="modal fade" id="alertModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="alertTitle">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="alertMessage">Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="shopping-cart-modal" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Carrito de compras</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="shopping-cart-body"></div>
			<div class="modal-footer">
				<button class="btn btn-danger" id="clearCarrito">
					<span>Vaciar carrito</span>
					<img src="/img/carritoDelete.svg" alt="Icono de vaciar carrito">
				</button>
				<button class="btn btn-success" id="completarCompra">
					<span>Completar compra</span>
					<img src="/img/carrito.svg" alt="Icono de carrito">
				</button>
			</div>
		</div>
	</div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
	<div id="productsToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
			<img src="/img/agregado.svg" class="rounded me-2 bg-success" alt="Icono verde">
			<strong class="me-auto" id="productsToastTitle"></strong>
			<small>Ahora</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body" id="productsToastBody"></div>
	</div>
</div>

<% scripts.forEach(element => { %>
<script src="<%= element %>"></script>
<% }) %>

</body>

</html>