<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title><%= title %></title>

	<link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />

	<!-- Importar fuentes -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />

	<!-- Precargar estilos y scripts -->
	<link rel="preload" href="/css/bootstrap.min.css" as="style" />
	<link rel="preload" href="/js/bootstrap.bundle.min.js" as="script" />
	<link rel="preload" href="/css/estilos.css" as="style" />

	<!-- Importar estilos y scripts -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/estilos.css" />
</head>

<body class="bg-main">
	<header class="bg-head d-flex align-content-center justify-content-center">
		<h5 class="text-white my-2 text-center"><%= title %></h5>
	</header>

	<nav class="navbar navbar-expand-lg bg-navbar navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Hardware House</a>
			<button class="navbar-toggler bg-navbar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<% navLinks.forEach(element => { %>
					<a class="<%= element.class %>" href="<%= element.link %>"><%= element.title %></a>
					<% }); %>
				</div>
				<div class="navbar-nav">
					<a class="nav-link p-0 align-self-start align-self-lg-end position-relative" id="shopping-cart">
						<img src="/img/shopping-cart.svg">
						<!-- <strong><span class="bg-dark text-warning position-absolute top-0 start-50" id="shopping-cart-counter">0</span></strong> -->
					</a>
				</div>
			</div>
		</div>
	</nav>