<footer class="bg-footer d-flex align-content-center justify-content-center py-3">
	<h5 class="text-white text-center m-0">Todos los derechos reservados - Hardware House</h5>
</footer>

<% scripts.forEach(element => { %>
<script src="<%= element %>"></script>
<% }) %>

</body>

</html>