<%- include('partials/header.html') %>
<main class="container mh py-4">
	<h1 class="text-start mb-0">Contactos</h1>
	<form class="mt-3" action="2020030319@upsin.edu.mx" method="post">
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="nombre" class="form-label">Nombre</label>
				<input type="text" id="nombre" name="name" class="form-control" placeholder="Introduzca un nombre" required />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="apellido" class="form-label">Apellido</label>
				<input type="text" id="apellido" name="apellido" class="form-control" placeholder="Introduzca un apellido" required />
			</div>
		</div>
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="fecha" class="form-label">Sexo</label>
				<select class="form-select" aria-label="estadoCivil">
					<option selected disabled>Seleccionar uno</option>
					<option value="1">Masculino</option>
					<option value="2">Femenino</option>
					<option value="3">Otro</option>
				</select>
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="fecha" class="form-label">Estado Civil</label>
				<select class="form-select" aria-label="estadoCivil">
					<option selected disabled>Seleccionar uno</option>
					<option value="1">Soltero</option>
					<option value="2">Casado</option>
					<option value="3">Viudo</option>
				</select>
			</div>
		</div>
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="username" class="form-label">Nombre de usuario</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Introduzca un nombre" required />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="fecha" class="form-label">Fecha de nacimiento</label>
				<input type="date" id="fecha" name="fecha" class="form-control" required />
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-12">
				<label for="comentario" class="form-label">Comentarios</label>
				<textarea class="form-control" id="comentario" name="comentario" rows="5"></textarea>
			</div>
		</div>
		<div class="d-flex flex-row-reverse justify-content-start">
			<input type="submit" value="Enviar" class="btn btn-success ms-4" />
			<input type="reset" value="Limpiar" class="btn btn-danger" />
		</div>
	</form>
</main>
<%- include('partials/footer.html') %>