<%- include('partials/header.html') %>
<main class="container mh py-4">
	<h1 class="m-0">Nuestra empresa</h1>
	<div class="row mt-2">
		<div class="col-12 col-md-8">
			<h3>AleTech</h3>
			<p style="text-align: justify">
				En AleTech creamos el lugar más conveniente para comprar electrónica en México. Nuestro sitio
				www.AleTech.mx ya es el más
				funcional y surtido en electrónica de consumo / computación al nivel nacional. Junto con nuestros
				clientes, continuamos
				innovándonos para seguir ofreciéndote el lugar más conveniente para realizar sus compras.
				Constituida en el 2008, AleTech S.A.
				de C.V. participó en el programa de la Incubadora de Empresas del Tecnológico de Monterrey (ITESM) y
				fue certificada por la
				Asociación de Internet. AleTech es socio preferido de las mejores marcas y distribuye más de 40,000
				productos nuevos, 100%
				originales y con la garantía del fabricante. Contamos con certificaciones como canal de distribución
				de diferentes
				fabricantes. Dentro de nuestra gama de productos encontrarás electrónica de consumo como son
				productos Apple, Televisores,
				Audio & MP3, Foto & Video, DVD & Blu-Ray así como productos de computación como son Portátiles,
				PC's, Cómputo, Monitores,
				Punto de Venta (POS), Impresoras & Copiadoras, Telecomunicación y Software.
			</p>
		</div>
		<div class="col-12 col-md-4">
			<img src="../img/confianza.webp" class="w-100" alt="" srcset="" />
		</div>
	</div>
</main>
<%- include('partials/footer.html') %>