<%- include('partials/header.html') %>
<main class="container mh py-4">
	<section id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../img/carousel-1.jpg" class="d-block w-100" alt="..." />
			</div>
			<div class="carousel-item">
				<img src="../img/carousel-2.jpg" class="d-block w-100" alt="..." />
			</div>
			<div class="carousel-item">
				<img src="../img/carousel-3.jpg" class="d-block w-100" alt="..." />
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</section>

	<section class="container my-4 bg-light">
		<h3>Nuevos productos</h3>
		<div class="row">
			<% products.forEach(element => { %>
			<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
				<div class="card h-100">
					<img src="http://res.cloudinary.com/dzlemvbvt/image/upload/w_298,h_298,c_fill,q_90/<%= element.urlImagen %>" class="card-img-top">
					<div class="card-body pb-5 position-relative">
						<h5 class="card-title my-0"><%= element.nombre %></h5>
						<p class="card-text my-2"><%= element.descripcion %></p>

						<b class="d-block my-0 text-end position-absolute bottom-0 end-0">
							<% if (element.precioFinal === element.precio) { %>
							<span class="badge bg-dark fs-6 me-3 my-3">$<%= element.precioFinal %></span>
							<% } else { %>
							<span class="crossed-out">$<%= element.precio %></span>
							<span class="badge bg-dark ms-2 me-3 my-3 fs-6">$<%= element.precioFinal %></span>
							<% } %>
						</b>
					</div>
					<div class="card-footer text-end">
						<a class="btn btn-primary" onclick="addProductToCart('<%= element.codigo %>')">
							<span>Añadir al carrito</span>
							<img src="/img/carritoAdd.svg" alt="Icono de añadir al carrito">
						</a>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
	</section>
</main>
<%- include('partials/footer.html') %>