<%- include('partials/header.html') %>
<main class="container mh py-4">
	<h1 class="text-center mb-2">Nuestros productos</h1>
	<div class="row align-content-stretch">
		<% products.forEach(element => { %>
		<div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
			<div class="card h-100">
				<img src="http://res.cloudinary.com/dzlemvbvt/image/upload/w_298,h_298,c_fill,q_90/<%= element.urlImagen %>" class="card-img-top">
				<div class="card-body pb-5 position-relative">
					<h5 class="card-title my-0"><%= element.nombre %></h5>
					<p class="card-text my-2"><%= element.descripcion %></p>

					<b class="d-block my-0 text-end position-absolute bottom-0 end-0">
						<% if (element.precioFinal === element.precio) { %>
						<span class="badge bg-dark fs-6 me-3 my-3">$<%= element.precioFinal %></span>
						<% } else { %>
						<span class="crossed-out">$<%= element.precio %></span>
						<span class="badge bg-dark ms-2 me-3 my-3 fs-6">$<%= element.precioFinal %></span>
						<% } %>
					</b>
				</div>
				<div class="card-footer text-end">
					<a class="btn btn-primary" onclick="addProductToCart('<%= element.codigo %>')">
						<span>Añadir al carrito</span>
						<img src="/img/carritoAdd.svg" alt="Icono de añadir al carrito">
					</a>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</main>
<%- include('partials/footer.html') %>