/* Paleta de colores */
:root {
	--blanco: #fff;
	--oscuro: #212121;
	--navbar: #031926;
	--head: #468189;
	--main: #f2f4f3;
	--footer: #3e000c;
	--gris: #757575;
	--grisClaro: #dfe9f3;
	--border: 1px solid rgba(0, 0, 0, 0.175);
	--fuente: "Montserrat", sans-serif;
}

/* Box Sizing */
html {
	box-sizing: border-box;
	scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: var(--fuente);
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	position: fixed;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
	background-color: var(--navbar);
}

.bg-head {
	background-color: var(--head);
}

.bg-navbar {
	background-color: var(--navbar);
}

.bg-main {
	background-color: var(--main);
}

.bg-footer {
	background-color: var(--footer);
}

.mh {
	min-height: calc(100vh - 150px);
}

.input-group-text {
	cursor: default;
}

.btn-toggle {
	--bs-btn-color: #fff;
	--bs-btn-bg: #810019;
	--bs-btn-border-color: #810019;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #6e0015;
	--bs-btn-hover-border-color: #6e0015;
	--bs-btn-focus-shadow-rgb: 90, 0, 17;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #5a0011;
	--bs-btn-active-border-color: #5a0011;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #98001d;
	--bs-btn-disabled-border-color: #98001d;
}

.btn-back {
	--bs-btn-color: #fff;
	--bs-btn-bg: #031926;
	--bs-btn-border-color: #031926;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #031520;
	--bs-btn-hover-border-color: #031520;
	--bs-btn-focus-shadow-rgb: 90, 0, 17;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #02131c;
	--bs-btn-active-border-color: #02131c;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #063651;
	--bs-btn-disabled-border-color: #063651;
}

.scrollable {
	width: 100%;
	height: 40rem;
	overflow: scroll;
}

#shopping-cart {
	cursor: pointer;
}

.shake {
	animation-name: shake;
	animation-duration: 0.8s;
	animation-timing-function: ease-in;
}

@keyframes shake {
	0% {
		transform: translate;
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate(0.8em);
	}
	10%,
	30%,
	50% {
		transform: translate(-0.2em);
	}
	70%,
	100% {
		transform: translate(0);
	}
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	appearance: initial;
}

.item-counter {
	text-align: center;
	min-width: 56px;
}

.crossed-out {
	text-decoration: line-through;
}
