<%- include('partials/header.html') %>
<main class="container mh p-4 d-flex justify-content-center align-items-center">
	<form class="border border-3 p-3 rounded bg-white" id="loginForm">
		<h3 class="text-start mb-3">Iniciar sesión</h3>
		<div class="mb-3 d-flex justify-content-center align-items-center">
			<img src="/img/usuario.svg" alt="Icono de usuario">
		</div>
		<div class="mb-3">
			<label for="usuario" class="form-label">Usuario</label>
			<input type="text" class="form-control" id="usuario" name="usuario" placeholder="Introduzca un usuario">
		</div>
		<div class="mb-3">
			<label for="contrasena" class="form-label">Contraseña</label>
			<input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Introduzca una contraseña">
		</div>
		<div class="text-end">
			<button type="submit" class="btn btn-primary">Iniciar sesion</button>
		</div>
		</div>
	</form>
</main>

<div class="modal fade" id="alertModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="alertTitle">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="alertMessage">Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<%- include('partials/footer.html') %>