<%- include('partials/header.html') %>

<main class="container-lg mh py-4">
	<div class="d-flex justify-content-start">
		<a class="btn btn-back d-flex justify-content-between align-items-center" href="/admin/">
			<img src="/img/regresar.svg">
			Regresar
		</a>
		<h1 class="text-start mb-0 ms-2">Administrar productos</h1>
	</div>
	<form class="mt-3 border border-3 p-3 rounded bg-white" id="form">
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="codigo" class="form-label">Código</label>
				<input type="text" id="codigo" name="codigo" value="<%= form.codigo %>" class="form-control" placeholder="Introduzca un código" required />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="precio" class="form-label">Precio</label>
				<div class="input-group">
					<span class="input-group-text">$</span>
					<input type="text" id="precio" name="precio" value="<%= form.precio %>" class="form-control" placeholder="Introduzca un precio" required />
				</div>
			</div>
		</div>
		<div class="mb-2">
			<label for="nombre" class="form-label">Nombre</label>
			<input type="text" id="nombre" name="nombre" class="form-control" value="<%= form.nombre %>" placeholder="Introduzca un nombre" required />
		</div>
		<div class="mb-2">
			<label for="descripcion" class="form-label">Descripción</label>
			<textarea class="form-control" id="descripcion" name="descripcion" rows="5" placeholder="Introduzca una descripción" required><%= form.descripcion %></textarea>
		</div>
		<div class="row mb-0 mb-md-2">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="idCategoria" class="form-label">Categoria</label>
				<select class="form-select" name="idCategoria" id="idCategoria">
					<option value="0" <% if (form.idCategoria === undefined) { %> selected <% } %> disabled>Selecciona una categoria</option>
					<% categorias.forEach(element=> { %>
					<option value="<%= element.id %>" <% if (form.idCategoria === element.id) { %> selected <% } %>>
						<%= element.nombre %>
					</option>
					<% }) %>
				</select>
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="disponibilidad" class="form-label">Disponibilidad</label>
				<input type="text" id="disponibilidad" name="disponibilidad" value="<%= form.disponibilidad %>" class="form-control" placeholder="Introduzca un nombre" required />
			</div>
		</div>
		<div class="mb-2 d-flex flex-column">
			<label for="urlImagen" class="form-label">Imagen</label>
			<img id="imgPreview" src="#" height="200" class="d-none align-self-center my-2" alt="Imagen introducida" />
			<input class="form-control" type="file" accept="image/png,image/jpeg" id="urlImagen" name="urlImagen" required />
		</div>

		<div class="d-flex flex-wrap justify-content-end gap-2">
			<button class="btn btn-success" id="btnAgregar">
				<img src="/img/agregar.svg" alt="Icono de agregar">
				Agregar
			</button>
			<button class="btn btn-warning" id="btnConsultar">
				<img src="/img/consultar.svg" alt="Icono de consultar">
				Consultar
			</button>
			<button class="btn btn-info text-white" type="reset">
				<img src="/img/limpiar.svg" alt="Icono de limpiar">
				Limpiar
			</button>
		</div>

		<div class="scrollable">
			<table id="results" class="table table-light table-hover table-bordered mt-2 mb-0 align-middle">
				<thead>
					<tr>
						<th scope="col" width="5%" class="text-center">Código</th>
						<th scope="col" width="30%" class="text-center">Nombre</th>
						<th scope="col" width="30%" class="text-center">Descripción</th>
						<th scope="col" width="15%" class="text-center">Precio</th>
						<th scope="col" width="15%" class="text-center">Imagen</th>
						<th scope="col" width="5%" class="text-center">Disponibles</th>
						<th scope="col" width="5%" class="text-center">Categoria</th>
						<th scope="col" width="5%" class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<% products.forEach(element=> { %>
					<tr>
						<th class="text-center" scope="row">
							<%= element.codigo %>
						</th>
						<td class="text-center">
							<%= element.nombre %>
						</td>
						<td class="text-center">
							<%= element.descripcion %>
						</td>
						<td class="text-center">$<%= element.precio %>
						</td>
						<td class="text-center p-0"><img class="w-100" src="http://res.cloudinary.com/dzlemvbvt/image/upload/w_120,h_120,c_fill,q_90/<%= element.urlImagen %>" alt="Imagen de <%= element.nombre %>" /></td>
						<td class="text-center">
							<%= element.disponibilidad %>
						</td>
						<td class="text-center">
							<%= element.categoria %>
						</td>
						<td class="text-center">
							<% if (element.estado === 1) { %>
							<a href="/admin/productos/delete/<%= element.codigo %>" class="btn btn-primary m-1">
								<img src="/img/activado.svg" alt="Icono de activado">
							</a>
							<% } else { %>
							<a href="/admin/productos/delete/<%= element.codigo %>" class="btn btn-danger m-1">
								<img src="/img/desactivado.svg" alt="Icono de desactivado">
							</a>
							<% } %>
							<a href="/admin/productos/update/<%= element.codigo %>" class="btn btn-dark m-1">
								<img src="/img/editar.svg" alt="Icono de editar">
							</a>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</form>

	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.html') %>