<%- include('partials/header.html') %>

<main class="container-lg mh py-4">
	<div class="d-flex justify-content-start">
		<a class="btn btn-back d-flex justify-content-between align-items-center" href="/admin/">
			<img src="/img/regresar.svg">
			Regresar
		</a>
		<h1 class="text-start mb-0 ms-2">Administrar promociones</h1>
	</div>
	<form class="mt-3 border border-3 p-3 rounded bg-white" id="form">
		<div class="row mb-0 mb-md-2">
			<div class="mb-2">
				<label for="codigo" class="form-label">Código</label>
				<input type="text" id="codigo" name="codigo" class="form-control" placeholder="Introduzca un código" required />
			</div>
			<div class="mb-2">
				<label for="nombre" class="form-label">Nombre</label>
				<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Introduzca un nombre" required />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="fechaInicio" class="form-label">Fecha inicio</label>
				<input type="date" id="fechaInicio" name="fechaInicio" class="form-control" required />
			</div>
			<div class="col-12 col-md-6 mb-2 mb-md-0">
				<label for="fechaFin" class="form-label">Fecha fin</label>
				<input type="date" id="fechaFin" name="fechaFin" class="form-control" required />
			</div>
			<div class="mb-2">
				<label for="porcentajeDescuento" class="form-label">Porcentaje descuento</label>
				<input type="text" id="porcentajeDescuento" name="porcentajeDescuento" class="form-control" placeholder="Introduzca un porcentaje" required />
			</div>
			<div class="mb-2">
				<label for="idCategoria" class="form-label">Categoria</label>
				<select class="form-select" name="idCategoria" id="idCategoria">
					<option value="0" <% if (form.idCategoria === undefined) { %> selected <% } %> disabled>Selecciona una categoria</option>
					<% categorias.forEach(element=> { %>
					<option value="<%= element.id %>" <% if (form.idCategoria === element.id) { %> selected <% } %>>
						<%= element.nombre %>
					</option>
					<% }) %>
				</select>
			</div>
			<div class="d-flex flex-wrap justify-content-end gap-2">
				<button class="btn btn-success" id="btnAgregar">
					<img src="/img/agregar.svg" alt="Icono de agregar">
					Agregar
				</button>
				<button class="btn btn-warning" id="btnConsultar">
					<img src="/img/consultar.svg" alt="Icono de consultar">
					Consultar
				</button>
				<button class="btn btn-info text-white" type="reset">
					<img src="/img/limpiar.svg" alt="Icono de limpiar">
					Limpiar
				</button>
			</div>
			<div class="scrollable">
				<table id="results" class="table table-light table-hover table-bordered mt-2 mb-0 align-middle">
					<thead>
						<tr>
							<th scope="col" width="5%" class="text-center">Código</th>
							<th scope="col" width="10%" class="text-center">Fecha inicio</th>
							<th scope="col" width="10%" class="text-center">Fecha fin</th>
							<th scope="col" width="15%" class="text-center">Nombre</th>
							<th scope="col" width="5%" class="text-center">Descuento</th>
							<th scope="col" width="5%" class="text-center">Categoria</th>
							<th scope="col" width="5%" class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<% promotions.forEach(element=> { %>
						<tr>
							<th class="text-center" scope="row">
								<%= element.id %>
							</th>
							<td class="text-center">
								<%= element.fechaInicio.toDateString() %>
							</td>
							<td class="text-center">
								<%= element.fechaFin.toDateString() %>
							</td>
							<td class="text-center">
								<%= element.nombre %>
							</td>
							<td class="text-center">
								<%= element.porcentajeDescuento%>
							</td>
							<td class="text-center">
								<%= element.idCategoria %>
							</td>
							<td class="text-center">
								<% if (element.estado === 1) { %>
								<a href="/admin/categorias/delete/<%= element.id %>" class="btn btn-primary m-1">
									<img src="/img/activado.svg" alt="Icono de activado">
								</a>
								<% } else { %>
								<a href="/admin/categorias/delete/<%= element.id %>" class="btn btn-danger m-1">
									<img src="/img/desactivado.svg" alt="Icono de desactivado">
								</a>
								<% } %>
								<a href="/admin/categorias/update/<%= element.id %>" class="btn btn-dark m-1">
									<img src="/img/editar.svg" alt="Icono de editar">
								</a>
							</td>
						</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</form>

	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.html') %>