<%- include ('partials/header.html') %>

<main class="container-lg mh py-4">
	<div class="d-flex justify-content-start">
		<a class="btn btn-back d-flex justify-content-between align-items-center" href="/admin/">
			<img src="/img/regresar.svg">
			Regresar
		</a>
		<h1 class="text-start mb-0 ms-2">Administrador de Ventas</h1>
	</div>
	<form class="mt-3 border border-3 p-3 rounded bg-white" id="form">
		<div class="row mb-0 mb-md-2">
			<label for="id" class="form-label">Id</label>
			<input type="text" id="id" name="id" value="<%= form.id %>" class="form-control" placeholder="Introduzca un Id" />
		</div>
		<div class="mb-2">
			<label for="fechaFij" class="form-label">Fecha fija</label>
			<input type="date" id="fechaFij" name="fechaFij" class="form-control" placeholder="Fecha" />
		</div>
		<div class="mb-2">
			<label for="fechaIni" class="form-label">Fecha Inicial</label>
			<input type="date" id="fechaIni" name="fechaIni" class="form-control" placeholder="Fecha" />
		</div>
		<div class="mb-2">
			<label for="fechaIni" class="form-label">Fecha Final</label>
			<input type="date" id="fechaFin" name="fechaFin" class="form-control" placeholder="Fecha" />
		</div>
		<div class="mb-2">
			<label for="totalIni" class="form-label">Total Inicial</label>
			<input type="number" id="totalIni" name="totalIni" class="form-control" placeholder="Fecha" />
		</div>
		<div class="mb-2">
			<label for="totalFin" class="form-label">Total Final</label>
			<input type="number" id="totalFin" name="totalFin" class="form-control" placeholder="Fecha" />
		</div>
		<div class="d-flex flex-wrap justify-content-end gap-2">
			<button class="btn btn-warning" id="btnConsultar">
				<img src="/img/consultar.svg" alt="Icono de consultar">
				Consultar
			</button>
			<button class="btn btn-info text-white" type="reset">
				<img src="/img/limpiar.svg" alt="Icono de limpiar">
				Limpiar
			</button>
		</div>

		<div class="scrollable">
			<table id="results" class="table table-light table-hover table-bordered mt-2 mb-0 align-middle">
				<thead>
					<tr>
						<th scope="col" width="5%" class="text-center">Id</th>
						<th scope="col" width="30%" class="text-center">Usuario</th>
						<th scope="col" width="30%" class="text-center">Fecha</th>
						<th scope="col" width="15%" class="text-center">Total</th>
						<th scope="col" width="15%" class="text-center">Tipo Pago</th>
						<th scope="col" width="5%" class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<% ventas.forEach(element=> { %>
					<tr>
						<th class="text-center" scope="row">
							<%= element.id %>
						</th>
						<td class="text-center">
							<%= element.usuario %>
						</td>
						<td class="text-center">
							<%= element.fecha %>
						</td>
						<td class="text-center">$<%= element.total %>
						</td>
						<td class="text-center">
							<%= element.tipoPago %>
						</td>
						<td class="text-center">
							<a href="/admin/ventas/detalles/<%= element.id %>" class="btn btn-dark m-1">
								<img src="/img/editar.svg" alt="Icono de editar">
							</a>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</form>

	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.html') %>